input {
    position: absolute;
    width: 460px;
    height: 49.83px;
    left: 852px;
    top: 658px;
    border-radius: 100px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 22px;
    /* or 73% */
    padding-left: 12px;
    outline: none;
    display: flex;
}
button {
    position: absolute;
    width: 480px;
    height: 49.83px;
    left: 852px;
    top: 723.17px;
    outline: none;
    background: rgba(217, 70, 70, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    /*line-height: 22px;*/
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    box-sizing: border-box;
    padding-left: 12px;
    color: #FFFFFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #D94646;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #D94646;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #D94646;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #D94646;
  }
div.title1{
    position: absolute;
    width: 1680px;
    height: 152px;
    left: 0px;
    top: 900px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    text-align: center;
}
div.caption1{
    position: absolute;
    width: 1680px;
    height: 163px;
    left: 295px;
    top: 950px;

    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    /* or 167% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #272D4E;
}
div.iphone8{
    position: absolute;
    width: 327px;
    height: 581px;
    left: 336px;
    top: 208px;

    background: linear-gradient(180deg, #FCC3C3 0%, #FFFFFF 100%);
    box-shadow: 40px 40px 100px -10px rgba(0, 0, 0, 0.25);
    border-radius: 51px;
}
div.logo{
    position: absolute;
    width: 157px;
    height: 78px;
    left: 75px;
    top: 27px;

    background: url(Artboard\ 5\ 1.png);
}
div.ellipse3{
    position: absolute;
    width: 134px;
    height: 138px;
    left: calc(50% - 134px/2 + 0.5px + 336px);
    top: calc(50px + 208px);
    border-style: dashed;
    background: #C4C4C4;
    border: 1px solid #B1B1B1;
    box-sizing: border-box;
}
div.redSubHeading{
    position: absolute;
    width: 552px;
    height: 270px;
    left: 813px;
    top: 156px;

    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110px;
    /* or 229% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;

    color: #D94646;
}
div.normalText{
    position: absolute;
    width: 591px;
    height: 100px;
    left: 790px;
    top: 466px;

    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    /* or 167% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;

    color: #272D4E;
}
div.logoMinor{
    position: absolute;
    width: 157px;
    height: 77px;
    left: 443px;
    top: 620px;
    background: url(Artboard\ 5\ 1.png);
}